<form method="POST">
    {{ form.hidden_tag() }}
    
    <fieldset class="field-border">
    <legend class="field-border">Personal Information</legend>
    <div class="form-row">
        <div class="col form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
            {% for error in form.first_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.middle_name.label }}
            {{ form.middle_name(class="form-control") }}
            {% for error in form.middle_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
            {% for error in form.last_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.prefix.label }}
            {{ form.prefix(class="form-control") }}
            {% for error in form.prefix.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="col form-group">
            {{ form.suffix.label }}
            {{ form.suffix(class="form-control") }}
            {% for error in form.suffix.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
             {{ form.birthday.label }}
                
                    <div class="form-group">
                        <div class="input-group date" id="birthday" data-target-input="nearest">
                            <input type="text" name="birthday" class="form-control datetimepicker-input" data-target="#birthday" value=""/>
                            <div class="input-group-append" data-target="#birthday" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                          $(function () {
                              $('#birthday').datetimepicker('date');
                          });

                          $('.datetimepicker-input').each(function() {
                              var value = $(this).val();
			                  $(this).datetimepicker({
				                format: 'MM-DD-YYY HH:MM p',
			                	date: value
                    			});
			                  $(this).val(value);
                    		});

                    </script>

                    {% for error in form.birthday.errors %}
                        {{ error }}
                    {% endfor %}
        </div>
  
        <div class="col form-group">
             {{ form.home_anniversary.label }}
                
                    <div class="form-group">
                        <div class="input-group date" id="home_anniversary" data-target-input="nearest">
                            <input type="text" name="home_anniversary" class="form-control datetimepicker-input" data-target="#home_anniversary" value=""/>
                            <div class="input-group-append" data-target="#home_anniversary" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                          $(function () {
                              $('#home_anniversary').datetimepicker('date');
                          });

                          $('.datetimepicker-input').each(function() {
                              var value = $(this).val();
			                  $(this).datetimepicker({
				                format: 'MM-DD-YYY HH:MM p',
			                	date: value
                    			});
			                  $(this).val(value);
                    		});

                    </script>

                    {% for error in form.home_anniversary.errors %}
                        {{ error }}
                    {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.about.label }}
            {{ form.about(class="form-control", rows="5") }}
            {% for error in form.about.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-facebook"></span> {{ form.facebook.label }}
            {{ form.facebook(class="form-control") }}
            {% for error in form.facebook.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-twitter"></span> {{ form.twitter.label }}
            {{ form.twitter(class="form-control") }}
            {% for error in form.twitter.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-linkedin"></span> {{ form.linkedin.label }}
            {{ form.linkedin(class="form-control") }}
            {% for error in form.linkedin.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-google-plus"></span> {{ form.google.label }}
            {{ form.google(class="form-control") }}
            {% for error in form.google.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-pinterest"></span> {{ form.pintrest.label }}
            {{ form.pintrest(class="form-control") }}
            {% for error in form.pintrest.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    

    <div class="form-row">
        <div class="col form-group">
            <span class="fa fa-instagram"></span> {{ form.instagram.label }}
            {{ form.instagram(class="form-control") }}
            {% for error in form.instagram.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>

    <div class="form-row">
        <div class="col form-group">
            {{ form.country_code.label }}
            {{ form.country_code(class="form-control", readonly=readonly, value='USA') }}
            {% for error in form.country_code.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <fieldset class="field-border">
    <legend class="field-border">Contact Info</legend>
    <div class="form-row">
        <div class="col form-group">
            {{ form.home_phone.label }}
            {{ form.home_phone(class="form-control") }}
            {% for error in form.home_phone.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.work_phone.label }}
            {{ form.work_phone(class="form-control") }}
            {% for error in form.work_phone.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.other_phone.label }}
            {{ form.other_phone(class="form-control") }}
            {% for error in form.other_phone.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.mobile_phone.label }}
            {{ form.mobile_phone(class="form-control") }}
            {% for error in form.mobile_phone.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="col form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.email2.label }}
            {{ form.email2(class="form-control") }}
            {% for error in form.email2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>

    <fieldset class="field-border">
    <legend class="field-border">Address 1</legend>
    <div class="form-row">
        <div class="col form-group">
            {{ form.street1.label }}
            {{ form.street1(class="form-control") }}
            {% for error in form.street1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.city1.label }}
            {{ form.city1(class="form-control") }}
            {% for error in form.city1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.state1.label }}
            {{ form.state1(class="form-control") }}
            {% for error in form.state1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.postal_code1.label }}
            {{ form.postal_code1(class="form-control") }}
            {% for error in form.postal_code1.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>

    <fieldset class="field-border">
    <legend class="field-border">Address 2</legend>
    <div class="form-row">
        <div class="col form-group">
            {{ form.street2.label }}
            {{ form.street2(class="form-control") }}
            {% for error in form.street2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.city2.label }}
            {{ form.city2(class="form-control") }}
            {% for error in form.city2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.state2.label }}
            {{ form.state2(class="form-control") }}
            {% for error in form.state2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.postal_code2.label }}
            {{ form.postal_code2(class="form-control") }}
            {% for error in form.postal_code2.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>

    <fieldset class="field-border">
    <legend class="field-border">Work Information</legend>

    <div class="form-row">
        <div class="col form-group">
            {{ form.company_name.label }}
            {{ form.company_name(class="form-control") }}
            {% for error in form.company_name.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.company_department.label }}
            {{ form.company_department(class="form-control") }}
            {% for error in form.company_department.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.company_title.label }}
            {{ form.company_title(class="form-control") }}
            {% for error in form.company_title.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.company_street.label }}
            {{ form.company_street(class="form-control") }}
            {% for error in form.company_street.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.company_city.label }}
            {{ form.company_city(class="form-control") }}
            {% for error in form.company_city.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.company_state.label }}
            {{ form.company_state(class="form-control") }}
            {% for error in form.company_state.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-group">
            {{ form.company_postal.label }}
            {{ form.company_postal(class="form-control") }}
            {% for error in form.company_postal.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.company_country.label }}
            {{ form.company_country(class="form-control", readonly=readonly, value='USA') }}
            {% for error in form.company_country.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>

    <fieldset class="field-border">
    <legend class="field-border">System Tags</legend>
    <small class="text-muted">Check all that apply</small><br>
    <div class="form-row px-4 pt-4">
        <div class="col form-check">
            {{ form.first_time(class="form-check-input") }}
            {{ form.first_time.label(class="form-check-label") }}
            {% for error in form.first_time.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.agent(class="form-check-input") }}
            {{ form.agent.label }}
            {% for error in form.agent.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.vendor(class="form-check-input") }}
            {{ form.vendor.label }}
            {% for error in form.vendor.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.investor(class="form-check-input") }}
            {{ form.investor.label }}
            {% for error in form.investor.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.loan_officer(class="form-check-input") }}
            {{ form.loan_officer.label }}
            {% for error in form.loan_officer.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.talent(class="form-check-input") }}
            {{ form.talent.label }}
            {% for error in form.talent.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.builder(class="form-check-input") }}
            {{ form.builder.label }}
            {% for error in form.builder.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.reo(class="form-check-input") }}
            {{ form.reo.label }}
            {% for error in form.reo.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.short_sale(class="form-check-input")}}
            {{ form.short_sale.label }}
            {% for error in form.short_sale.errors %}
                {{ error }}
            {% endfor %}
        </div>
    </div>
    
    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.expired(class="form-check-input") }}
            {{ form.expired.label }}
            {% for error in form.expired.errors %}
                {{ error }}
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.fsbo(class="form-check-input") }}
            {{ form.fsbo.label }}
            {% for error in form.fsbo.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.sphere(class="form-check-input") }}
            {{ form.sphere.label }}
            {% for error in form.sphere.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col form-check">
            {{ form.allied_resource(class="form-check-input") }}
            {{ form.allied_resource.label }}
            {% for error in form.allied_resource.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row px-4">
        <div class="col form-check">
            {{ form.referral_sources(class="form-check-input") }}
            {{ form.referral_sources.label }}
            {% for error in form.referral_sources.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

        
    </fieldset>

    <fieldset class="field-border">
    <legend class="field-border">Meta Data</legend>
    <div class="form-row">
        <div class="col form-group">
            {{ form.notes.label }}
            {{ form.notes(class="form-control") }}
            {% for error in form.notes.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.tags.label }}
            {{ form.tags(class="form-control") }}
            {% for error in form.tags.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.source.label }}
            {{ form.source(class="form-control") }}
            {% for error in form.source.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            {{ form.other_source.label }}
            {{ form.other_source(class="form-control") }}
            {% for error in form.other_source.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
    </fieldset>
   <p> {{form.submit(class="btn btn-success") }}</p>

</form>